h1 {
    font-size: 40px;
}

.slogan {
    max-width: 400px;
    margin-bottom: 40px;
}

.search {
    margin-bottom: 20px;

    h2 {
        margin-bottom: 12px;
    }
}

.query {
    display: flex;
    align-items: center;

    border-radius: 20px;
    background-color: #dddddd;

    margin-bottom: 26px;
}

.query input {
    flex: 1;
    border: 0;
    background-color: transparent;
    padding: 8px 19px;
    font-size: 16px;
    outline: none;
}

.query button {
    height: 100%;
    background-color: #3f76bf;
    padding: 9px 9px 9px 13px;
    border-radius: 20px;
}

.filter {
    display: flex;
    gap: 17px;

    margin-bottom: 17px;
}

.filter label {
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 20px;
    border: 3px solid #001128;
}

.filter input[type='checkbox'] {
    display: none;
}

.filter input[type='checkbox']:checked + label {
    color: white;
    background-color: #001128;
}

.sorting {
    display: flex;
    gap: 5px;

    align-items: center;
}

.sorting select {
    font-family: 'Karla', sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    font-size: 16px;
    padding: 5px 12px;
    outline: none;
    border-radius: 20px;
    border: 3px solid #001128;
}

.property {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 50px;
    gap: 20px 70px;
}

.property img,
.placeholder-img {
    border-radius: 20px;
    overflow: hidden;
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.property-info {
    flex: 1;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    padding: 25px 0px;
}

@media only screen and (max-width: 1100px) {
    .property img,
    .placeholder-img {
        width: 100%;
    }

    .property-info {
        padding: 0px;
    }
}

.property-info h2 {
    margin-bottom: 9px;
    font-size: 28px;
}

.property-info h2 + p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;

    margin-bottom: 21px;
}

.property-info h2 + p i {
    color: black;
}

.property-info p + p {
    color: #3f76bf;
    font-size: 28px;
    margin-bottom: 21px;
}

.amenities {
    display: flex;
    align-items: center;
    gap: 18px;
}

.amenities img {
    border-radius: 0px;
    width: 24px;
    height: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: fit-content;
    font-size: 12px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    position: absolute;
    top: -100%;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.placeholder-img {
    background-color: gray;
}
