.property {
    display: flex;
    justify-content: space-between;
    gap: 30px 50px;
    margin-bottom: 106px;
}

@media only screen and (max-width: 1400px) {
    .property {
        flex-direction: column-reverse;
    }

    .swiper {
        width: 100% !important;
    }

    .details {
        max-width: 100% !important;
    }
}

.swiper {
    border-radius: 30px;
    width: 591px;
    height: 478px;
    background-color: gray;
}

.slider-button {
    --swiper-navigation-size: 25px !important;
    color: black !important;
    margin: 0px 10px !important;
}

.property img {
    width: 100%;
    height: 100%;
    border-radius: 30px;

    object-fit: cover;
    overflow: hidden;

    cursor: pointer;
}

#stars {
    margin-bottom: 36px;
}

h1 {
    font-size: 40px;
    margin-bottom: 12px;
}

.details {
    flex: 1;
    max-width: 40%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

#contact-number {
    font-size: 25px;
    margin-top: 23px;
}

.price {
    color: #3f76bf;
}

.price h2 {
    font-size: 38px;
}

.price p {
    font-size: 25px;
    margin-top: 2px;
}

h3 {
    font-size: 30px;
    margin-bottom: 23px;
    max-width: 380px;
}

h4 {
    font-size: 20px;
}

.contact {
    display: flex;
    gap: 50px;
    margin-bottom: 35px;
}

#amenities {
    margin-top: 13px;
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#amenities div {
    display: flex;
    gap: 5px;
    align-items: center;
}

#amenities img {
    width: 20px;
    height: auto;
}

.information {
    margin: 106px 0px;
}

form {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    margin-bottom: 20px;
}

#tooltip-text {
    visibility: hidden;
    width: fit-content;
    font-size: 12px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    position: absolute;
    top: -25px;
    left: 0;
    z-index: 1;
}

form:hover input:disabled + #tooltip-text {
    visibility: visible;
}

form > div {
    flex: 1;
    max-width: 1000px;
}

input[type='text'] {
    border-bottom: 1px solid gray !important;
    padding: 5px 10px;
    font-size: 17px;
    width: 100%;
    display: block;
}

#comments {
    margin-top: 30px;
}

#comments > div {
    margin-bottom: 50px;
}

.email {
    font-size: 13px;
    color: gray;
}

select {
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
}

option {
    font-size: 15px;
}

#comments .stars {
    font-size: 8px;
    margin: 6px 0px 15px;
}

.comment {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment button {
    color: red;
}
